 .imagehvr-wrapper {
   height: 100%;
   justify-content: space-evenly;
   padding: 5px;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 0
 }

 .imagehvr-wrapper .imagehvr {
   min-height: 200px;
   height: 100%;
   min-width: 100px;
   width: 100%;
   position: relative;
   overflow: hidden;
   vertical-align: bottom;
   transition: 2s;
   animation-duration: 2s;
   background: rgb(235 31 31 / 85%);
   background: rgba(0, 0, 0, 0)
 }

 .imagehvr .imagehvr-content-wrapper {
   border: 3px solid #f2bc03;
   padding: 0 0 0 0;
   background-color: #18191b7d;
   justify-content: center;
   transition-duration: .35s;
   transition-delay: 0s;
   animation-delay: 0s;
   position: relative;
   height: 100%;
   width: 100%;
   display: -webkit-inline-box;
   margin-bottom: 20px
 }

 .imagehvr:hover .imagehvr-content-wrapper {
   animation-duration: .35s;
   border-color: #6EC1E4
 }

 .imagehvr .imagehvr-link {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   transition: transform .3s ease-in-out;
   transform: scale(.7)
 }

 .imagehvr:hover .imagehvr-link {
   background: #00000054;
   transform: none
 }

 .imagehvr:hover .ih-delay-zero {
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
   opacity: 1
 }

 .imagehvr .imagehvr-icon {
   opacity: 1;
   color: #f2bc03;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   transition: all .3s ease
 }

 .imagehvr:hover .imagehvr-icon {
   color: #ffffff;
   opacity: 1
 }

 .imagehvr .imagehvr-icon i {
   font-size: 55px
 }

 .imagehvr picture {
   position: unset;
   width: 100%;
   height: 100%;
   min-height: 170px
 }

 .imagehvr img {
   min-height: 170px;
   height: auto;
   max-width: 100%;
   border: none;
   border-radius: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
   opacity: 1;
   margin: 0;
   display: inline-block;
   object-fit: cover;
   object-position: center;
   vertical-align: bottom;
   transition: 2s;
   animation-duration: 2s;
   width: 100%;
   height: 100%
 }

 .imagehvr .imagecaption {
   position: relative;
   line-height: 1;
   color: #808080;
   font-family: "SF Arabic", Sans-serif;
   font-size: 17px;
   font-weight: 600
 }

 .imagehvr .imagecaption .captiontext {
   color: inherit;
   font-size: inherit;
   line-height: inherit;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2
 }

 .elementor-container {
   display: flex;
   justify-content: space-between;
 }

 .elementor-container-flex-wrap {
   flex-wrap: wrap;
 }

 .yt-popup {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .7);
   opacity: 0;
   visibility: hidden;
   transition: all .3s ease;
 }

  .yt-popup-closer {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 10px;
    background: #fff;
    color: #333;
    border-radius: 5px;
  }

 .show.yt-popup {
   opacity: 1;
   visibility: visible;
 }

 .yt-popup .popup-center-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-40%, -50%);
   min-height: 80vh;
   height: auto;
   min-width: 60vw;
   width: auto;
   transition: all .7s ease;
   display: inline-flex;
 }

 .show.yt-popup .popup-center-content {
   transform: translate(-50%, -50%);
 }

 @media screen and (max-width:750px) {
   .yt-popup .popup-center-content {
     height: 80%;
     width: 80%;
   }
 }

 @media screen and (max-width:500px) {
   .yt-popup .popup-center-content {
     height: 90%;
     width: 90%;
   }
 }

 .yt-popup .popup-center-content iframe {
   min-width: 70%;
   max-height: 100%;
   width: 100%;
   height: 100%
 }

 #youtube-playlists {
   right: 0;
   top: 0;
   height: 100%;
   height: unset;
   min-width: 150px;
   max-width: 30%;
   overflow: hidden;
   overflow-y: auto;
   background: #333;
   color: #fff;
   padding: unset;
   display: none
 }

 #youtube-playlists.show {
   display: block
 }

 #youtube-playlists li {
   border-top: 1px solid #1F1F1F;
   border-bottom: 1px solid #000;
   display: block;
   margin-left: 5px;
   padding: 6px 0;
   cursor: pointer;
   background-color: #111;
   position: relative;
   border-top: none;
   background-color: #202325
 }

 #youtube-playlists li a {
   width: 100%;
   display: block;
   margin: 0
 }

 #youtube-playlists li a img {
   vertical-align: top;
   width: 43%;
   display: inline-block
 }

 #youtube-playlists li a span {
   color: #999;
   display: inline-block;
   width: 50%;
   margin-right: 3%;
   padding-left: 10px;
   font-size: 12px;
   word-break: break-word
 }

 @media screen and (max-width:600px) {
   .imagehvr-wrapper {
     margin-bottom: 0
   }

   .imagehvr .imagehvr-content-wrapper {
     margin-bottom: 10px
   }

   .imagehvr .imagehvr-link {
     width: 70%;
     opacity: 1;
     visibility: visible;
     transform: scale(1);
     right: 0;
     top: 0;
     background: #333333b3;
     left: auto;
     width: 100%;
     background: none
   }

   .show.yt-popup .popup-center-content {
     display: block;
     overflow: hidden;
     overflow-y: auto
   }

   .yt-popup .popup-center-content iframe {
     min-width: 100%;
     min-height: 400px;
     display: block
   }

   .yt-popup .popup-center-content #youtube-playlists {
     min-width: 100%;
     margin-top: 30px;
     overflow: visible
   }

   .yt-popup .popup-center-content #youtube-playlists li a {
     padding: 10px 15px;
     display: table
   }

   .yt-popup .popup-center-content #youtube-playlists li a img {
     vertical-align: middle;
     width: 100px
   }

   .yt-popup .popup-center-content #youtube-playlists li a span {
     display: table-cell;
     vertical-align: middle;
     min-width: 60%;
     max-width: 70%;
     width: 70%
   }
 }

 @media screen and (max-width:40000px) {
   .elementor-col-12 {
     width: 100%;
   }

   .elementor-col-11 {
     width: 91.67%;
   }

   .elementor-col-10 {
     width: 83.33%;
   }

   .elementor-col-9 {
     width: 75%;
   }

   .elementor-col-8 {
     width: 66.67%;
   }

   .elementor-col-7 {
     width: 58.33%;
   }

   .elementor-col-6 {
     width: 50%;
   }

   .elementor-col-5 {
     width: 41.67%;
   }

   .elementor-col-4 {
     width: 33.33%;
   }

   .elementor-col-3 {
     width: 25%;
   }

   .elementor-col-2 {
     width: 16.67%;
   }

   .elementor-col-1 {
     width: 8.33%;
   }
 }

 @media screen and (max-width:1050px) {
   .elementor-col-lg-12 {
     width: 100%;
   }

   .elementor-col-lg-11 {
     width: 91.67%;
   }

   .elementor-col-lg-10 {
     width: 83.33%;
   }

   .elementor-col-lg-9 {
     width: 75%;
   }

   .elementor-col-lg-8 {
     width: 66.67%;
   }

   .elementor-col-lg-7 {
     width: 58.33%;
   }

   .elementor-col-lg-6 {
     width: 50%;
   }

   .elementor-col-lg-5 {
     width: 41.67%;
   }

   .elementor-col-lg-4 {
     width: 33.33%;
   }

   .elementor-col-lg-3 {
     width: 25%;
   }

   .elementor-col-lg-2 {
     width: 16.67%;
   }

   .elementor-col-lg-1 {
     width: 8.33%;
   }
 }

 @media screen and (max-width:750px) {
   .elementor-col-md-12 {
     width: 100%;
   }

   .elementor-col-md-11 {
     width: 91.67%;
   }

   .elementor-col-md-10 {
     width: 83.33%;
   }

   .elementor-col-md-9 {
     width: 75%;
   }

   .elementor-col-md-8 {
     width: 66.67%;
   }

   .elementor-col-md-7 {
     width: 58.33%;
   }

   .elementor-col-md-6 {
     width: 50%;
   }

   .elementor-col-md-5 {
     width: 41.67%;
   }

   .elementor-col-md-4 {
     width: 33.33%;
   }

   .elementor-col-md-3 {
     width: 25%;
   }

   .elementor-col-md-2 {
     width: 16.67%;
   }

   .elementor-col-md-1 {
     width: 8.33%;
   }
 }

 @media screen and (max-width:750px) {
   .elementor-col-sm-12 {
     width: 100%;
   }

   .elementor-col-sm-11 {
     width: 91.67%;
   }

   .elementor-col-sm-10 {
     width: 83.33%;
   }

   .elementor-col-sm-9 {
     width: 75%;
   }

   .elementor-col-sm-8 {
     width: 66.67%;
   }

   .elementor-col-sm-7 {
     width: 58.33%;
   }

   .elementor-col-sm-6 {
     width: 50%;
   }

   .elementor-col-sm-5 {
     width: 41.67%;
   }

   .elementor-col-sm-4 {
     width: 33.33%;
   }

   .elementor-col-sm-3 {
     width: 25%;
   }

   .elementor-col-sm-2 {
     width: 16.67%;
   }

   .elementor-col-sm-1 {
     width: 8.33%;
   }
 }

 @media screen and (max-width:750px) {
   .elementor-col-xs-12 {
     width: 100%;
   }

   .elementor-col-xs-11 {
     width: 91.67%;
   }

   .elementor-col-xs-10 {
     width: 83.33%;
   }

   .elementor-col-xs-9 {
     width: 75%;
   }

   .elementor-col-xs-8 {
     width: 66.67%;
   }

   .elementor-col-xs-7 {
     width: 58.33%;
   }

   .elementor-col-xs-6 {
     width: 50%;
   }

   .elementor-col-xs-5 {
     width: 41.67%;
   }

   .elementor-col-xs-4 {
     width: 33.33%;
   }

   .elementor-col-xs-3 {
     width: 25%;
   }

   .elementor-col-xs-2 {
     width: 16.67%;
   }

   .elementor-col-xs-1 {
     width: 8.33%;
   }
 }
